body {
  margin: 0;
  font-family: 'Inter', sans-serif;
}

header {
  background-color: #1C2938;
  display: flex;
  padding: 0 2rem;
  height: 64px;
  align-items: center;
}

header h1 {
  color: #F8F1F1;
  font-weight: normal;
}

main {
  display: flex;
  flex-direction: row;
  justify-items: center;
}

#methods {
  margin: 1rem;
  display: flex;
  flex-direction: column;
  background-color: #1C2938;
  height: max-content;
  padding: 1rem;
  border-radius: 1rem;
  z-index: 2;
  filter: drop-shadow(0px 0px 3px black);
}

#methods h2 {
  margin: 0;
  padding-bottom: 0.25rem;
  color: #F8F1F1;
  font-weight: normal;
}

#methods button {
  margin: 0.5rem 0;
  width: max-content;
  align-self: end;
  background-color: #CD3F3E;
  color: #F8F1F1;
  border: none;
  border-radius: 0.25rem;
  cursor: pointer;
}

#methods input {
  background-color: #F8F1F1;
  border-radius: 0.25rem;
}

#methods input:focus {
  outline: none;
}

#methods>.globals {
  display: flex;
  justify-content: space-around;
}

.bst-tree {
  display: flex;
  flex-direction: row;
  width: 100%;
  margin: 2rem auto;
  justify-content: center;
}

.bst-node {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 64px;
  width: 64px;
  background-color: #1C2938;
  border-radius: 50%;
  color: #f8f1f1;
  font-size: 200%;
  filter: drop-shadow(0px 0px 3px black);
}

.bst-node p {
  position: absolute
}

.container {
  display: flex;
}

.branch {
  position: absolute;
  width: 100%;
  height: 100%;
}

.error {
  background-color: rgba(255, 0, 0, 0.192) !important;
}

.success {
  background-color: rgba(0, 128, 0, 0.59) !important;
}

svg {
  z-index: -1;
}
